---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
import Gallery from '../components/Gallery.astro';
import WhyUs from '../components/WhyUs.astro';
import Flow from '../components/Flow.astro';
import QA from '../components/QA.astro';
import Access from '../components/Access.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Services />
    <About />
    <Gallery />
    <WhyUs />
    <Flow />
    <QA />
    <Access />
  </main>
  <Footer />
</Layout>
